{% extends "base.html" %}

{%block title%}
Home
{%endblock title%}


{%block body%}
<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/static/1.webp" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/static/2.webp" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/static/3.webp" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/static/4.webp" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="album py-3 bg-body-tertiary">
  <h1 class="my-2 text-center">Affordable prices for space tourism</h1>
  <div class="container">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/moon.jpg" class="d-block w-100" alt="...">
          <div class="card-body">
            <p class="card-text">Go to moon with our falcon heavy package, costing only 500,000 dollars a day</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="/contact"> <button type="button" class="btn btn-sm btn-outline-secondary" >Register</button> </a>
              </div>
              <small class="text-body-secondary">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/stratosphere.jpg" class="d-block w-100" alt="...">
          <div class="card-body">
            <p class="card-text">Look earth from stratosphere, costing around $100,000 dollars</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="/contact"> <button type="button" class="btn btn-sm btn-outline-secondary" >Register</button> </a>
              </div>
              <small class="text-body-secondary">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/space-tourism.webp" class="d-block w-100" alt="...">
          <div class="card-body">
            <p class="card-text">Spend a night in space,costing around $500,000 dollars</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="/contact"> 
                  <button type="button" class="btn btn-sm btn-outline-secondary" >Register</button> </a>
              </div>
              <small class="text-body-secondary">9 mins</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/mars.jpg" class="d-block w-100" alt="...">
          <div class="card-body">
            <p class="card-text">1 years of intestellar journey,1 year of stay on mars then returning 1 year intestellar journey.oppurtunity of a lifetime,costing around 10 million dollars </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="/contact"> <button type="button" class="btn btn-sm btn-outline-secondary" >Register</button> </a>
              </div>
              <small class="text-body-secondary">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/igloos.jpg" class="d-block w-100" alt="...">
          <div class="card-body">
            <p class="card-text">Live on mars,cheapeast igloos available at 10 million per room</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="/contact"> <button type="button" class="btn btn-sm btn-outline-secondary" >Register</button> </a>
              </div>
              <small class="text-body-secondary">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="/static/moonbase.webp" class="d-block w-100" alt="...">
          <div class="card-body">
            <p class="card-text">Get a room in moon cave,costing around 1 million dollars</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="/contact"> <button type="button" class="btn btn-sm btn-outline-secondary" >Register</button> </a>
              </div>
              <small class="text-body-secondary">9 mins</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{%endblock body%}